body
{
    background-image:url("/assets/pexels-karolina-grabowska-4041203.jpg");
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    font-family: Yantramanav;
}
header
{
    text-align:center;
}
h1, h2, h3
{
    font-family: Merienda;
}
a:link, a:visited
{
    color: #8b0000;
    text-decoration: none;
}
a:hover, a:active
{
    color: #bb0000;
}
